<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<form id="lan" name="lan" action="" method=post class="hr-form-lan bg-secondary text-white rounded">
	{{ form.csrf_token }}
	<div class="form-group">
		<h5 class="hr-form-header text-center text-uppercase">LAN Configuration</h5>
	</div>
	<div class="form-group hr-form-row row">
		<div class="col-sm-4 col-form-label">Interface</div>
		<div class="col-sm-8 col-form-label">{{ g.settings.lan_interface }}</div>
	</div>
	{% for field in form %}
		<div class="form-group hr-form-row row">
			{% if field.type == "BooleanField" %}
				<div class="col-sm-4 col-form-label"></div>
				<div class="col-sm-8">
					<label class="form-check-label">
						{{ field(class="form-check-input") }} {{ field.label.text }}
					</label>
				</div>
			{% else %}
				{{ field.label(class="col-sm-4 col-form-label") }}
				<div class="col-sm-8">
					{{ field(class="form-control") }}
				</div>
			{% endif %}
		</div>
	{% endfor %}
	{% if session['lan_error'] %}
	<div class="form-group">
		<p class="hr-form-error bg-danger rounded text-white text-center">{{session['lan_error']}}</p>
	</div>
	{% endif %}
	<div class="form-group hr-form-button-row row justify-content-center">
		<button type="submit" class="btn btn-primary">Update</button>
	</div>
</form>
{% endblock %}
{% block javascript %}
$(document).ready(function()
{
	ConfigureConnection();
	ConfigureDHCP();
	$("#lan").validate(
	{
		rules:
		{
			address: "ipv4",
			netmask: "netmask"
		},
		errorClass: "val-error bg-danger rounded text-white text-center",
		highlight: function(element, errorClass, validClass)
		{
			$("#lan-error").addClass(errorClass);
		},
		unhighlight: function(element, errorClass, validClass)
		{
			$("#lan-error").removeClass(errorClass);
		}
	});
});
$('#connection').change(ConfigureConnection);
$('#dhcp').change(ConfigureDHCP);

function ConfigureConnection()
{
	var value = $('#connection').val();
	if (value == 'static')
	{
		$('#address').closest('.row').show();
		$('#netmask').closest('.row').show();
		$('#address').prop('required', true);
		$('#netmask').prop('required', true);
	}
	else if (value == 'dhcp')
	{
		$('#address').closest('.row').hide();
		$('#netmask').closest('.row').hide();
		$('#address').prop('required', false);
		$('#netmask').prop('required', false);
	}
}

function ConfigureDHCP()
{
	if ($('#dhcp').is(':checked'))
	{
		$("#domainname").removeClass('hr-disabled-input');
		$("#fromaddress").removeClass('hr-disabled-input');
		$("#toaddress").removeClass('hr-disabled-input');
		$("#leasetime").removeClass('hr-disabled-input');
		$('label[for="domainname"]').removeClass('hr-disabled-label');
		$('label[for="fromaddress"]').removeClass('hr-disabled-label');
		$('label[for="toaddress"]').removeClass('hr-disabled-label');
		$('label[for="leasetime"]').removeClass('hr-disabled-label');
		$('#fromaddress').prop('required', true);
		$('#toaddress').prop('required', true);
	}
	else
	{
		$("#domainname").addClass('hr-disabled-input');
		$("#fromaddress").addClass('hr-disabled-input');
		$("#toaddress").addClass('hr-disabled-input');
		$("#leasetime").addClass('hr-disabled-input');
		$('label[for="domainname"]').addClass('hr-disabled-label');
		$('label[for="fromaddress"]').addClass('hr-disabled-label');
		$('label[for="toaddress"]').addClass('hr-disabled-label');
		$('label[for="leasetime"]').addClass('hr-disabled-label');
		$('#fromaddress').prop('required', false);
		$('#toaddress').prop('required', false);
	}
}
{% endblock %}
